webdav-server/data/schemas/Bar_v1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:gen="http://www.example.com/XMLSchema/Generic/v1.0"
    targetNamespace="http://www.example.com/XMLSchema/Generic/v1.0">

  <complexType name="Header">
    <sequence>
      <element name="Id" type="string"/>
      <element name="Type" type="string"/>
      <element name="Version" type="string"/>
      <element name="Title" type="string" minOccurs="0"/>
    </sequence>
  </complexType>

</schema>