XRX/XML/test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="document" type="Document" />

    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="id" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
    
</xs:schema>
